$color-pink: #f62f5e;
$color-light-grey: #b4b4b4;
$color-white: #fff;
$orange-red: #f74420;
$color-mild-grey: #eee;
$color-black: #2e2e2e;
$transparent: transparent;
$darkgray: #6c6c6c;
$sky-blue: #6eb2fb;
$orange-gold: #f1ad3d;
$feint-grey: #f7f7f7;
$aqua-green: #00d3ca;
$lime-green: #effc90;

$family-sans-serif: "Montserrat", sans-serif;
$family-playfair: 'Playfair Display', serif;
/*font-weight*/
$fw-700: 700;

