/*font-weight*/
.fw-700 {
  font-weight: 700;
}
/*font-size*/
.fs-15 {
  font-size: 0.9375rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-10 {
  font-size: 0.625rem;
}
.fs-16 {
  font-size: 1rem;
}
.fs-18 {
  font-size: 1.125rem;
}
