/*details*/
.details {
  margin: 2rem 1.25rem 0 1.25rem;
  padding: 1.25rem;
  background-color:$color-white;
  box-shadow:0 0.0625rem 0.0625rem 0 rgba($color-black,0.2);
}
.output-count {
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0625rem;
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid $feint-grey;
  background-color:$color-white;
  border-radius: 40%;
}
.value-operator {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  background-color:$feint-grey;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color-pink;
  }
}
.emoji {
  padding: 1px 0 0 3px;
  width: 1.4375rem;
  height: 1.4375rem;
  background-color: $feint-grey;
  border-radius: 50%;
}
.review-text {
  color: $color-black;
}